@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --blue: #007bff;
        --bright-grey: #ccc;
        --white: #fff;
        --letter: #333;

        --font-family: 'Bitter', system-ui;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue: #007bff;
        --bright-grey: #ccc;
        --white: #333;
        --letter: #fff;

        --font-family: 'Bitter', system-ui;
    }
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    margin: 0;
    background-color: var(--white);
    color: var(--letter);
}

input,
textarea,
select,
button {
    font-family: var(--font-family);
    background-color: var(--white);
    color: var(--letter);
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 0;
    display: grid;
    place-items: center;
    gap: 20px;
}

.button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: var(--blue);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
}

.button:hover {
    filter: opacity(.5);
}

.textarea {
    width: 90%;
    min-height: 100px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid var(--bright-grey);
    border-radius: 8px;
    resize: vertical;
    transition: border-color 0.3s ease;
}

.textarea:focus {
    outline: none;
    border-color: var(--blue);
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 15px;
    border-bottom: 1px solid var(--letter);
}

.left-part {
    display: flex;
    gap: 20px;
}

.left-part img {
    width: 80px;
}

.right-part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right-part a {
    color: var(--letter);
}